
.App {
  margin: 0.5rem;
}

.backgroundBox {
  height: 97vh;
  border-radius: 0.3rem;
  background-color: #282c34;

}

.menuBox {
  background-color: #3377ff;
  border-radius: 0.3rem 0 0 0.3rem;
  padding-right: 0 !important;
}

.viewPage{
  background-color: #e5ecfa;
  border-radius: 0 0.3rem 0.3rem 0;
}

.NavBtn{
  color: white;
  text-decoration: none !important;
  cursor: pointer !important;
  border: 1px solid white;
  /* border-radius: 0.3rem 0.3rem 0.3rem 0.3rem; */
  border-radius: 0.3rem 0 0 0.3rem;
  display: block;
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1rem;
  transition: background-color 250ms ease-in;
  border-right: none;
}

.NavBtn:hover {
  color: #3377ff;
  background-color: #e5ecfa;
}

.activeNavBtn {
  color: #3377ff;
  background-color: #e5ecfa;
}

.heading {
  font-family: 'Anton', sans-serif;
}

.text {
  font-family: 'Noto Sans TC', sans-serif;
}